# =====================================
# IGNORE THE FOLLOWING OS RELATED FILES 
# =====================================

# Ignore macOS generated hidden file
.DS_Store

# Ignore Windows generated hidden files
thumbs.db
desktop.ini

# Ignore all .HTML files
*.html
*.htm
*.icloud
